html {
    overflow: hidden;
}

body {
    background-color: #333333;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

#main_canvas {
    background: #808080;
    cursor: none;
    /* cursor: url(../static/image/crosshair.png) 32 32, auto ; */
}

*:focus {
    outline: none;
}